* {
    box-sizing: border-box;
    
}

body {

    background-color: black;
    
}

header {
    margin-bottom: 5%;
    align-items: center;
    background-image: url(https://media.gettyimages.com/photos/zombie-apocalypse-survivor-against-hordes-of-undead-picture-id1129020652?s=170667a);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

header h1 {
    padding-top: 10%;
    text-align: center;
    color: white;
    -webkit-text-stroke:0.25px rgb(207, 205, 205);
    font-size: 4rem;
    /* font-family: 'Fredericka the Great', cursive; */
    font-family: 'Nosifer', cursive;
}

@media (max-width: 800px) {
    header h1{
        text-shadow: cornsilk;
        -webkit-text-stroke:0.25px rgb(207, 205, 205); /* width and color */
        color: rgb(255, 255, 255);
    }
}

.container {
    margin: 0 auto;
    padding: 3%;
    width: 40%;
    background-color: white;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1.5;
}

@media (max-width: 800px) {
    .container{
        width: 100%;
        margin: 0;
 
    }
}

.story {
    font-family: 'Caveat', cursive;
}

.characters {
    font-family: 'Caveat', cursive;
}


.buttons {
    font-size: 1.5rem;
}

.startbtn {
    background-color: red;
    padding: 6px;
    mar
}

.startbtn:hover {
    background-color:green;
}

foot {
    height: 20%;
}